@model Labixa.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    bool val1 = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;

}
<div class="page-title page-main-section">
    <div class="container padding-bottom-top-120 text-uppercase text-center">
        <div class="main-title">
            <h1>Đăng Nhập</h1>
            @*<h5>10 Years Of Experience!</h5>*@
            <div class="line_4"></div>
            <div class="line_5"></div>
            <div class="line_6"></div>
            <a href="index_1.html">Trang Chủ</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span><a href="login.html">Đăng Nhập</a>
        </div>
    </div>
</div>
<!--===== #/PAGE TITLE =====-->
<!--===== LOGIN =====-->
<section id="login" class="padding">
    <div class="container">
        @*<div class="row">
                <div class="col-md-12">
                    <ul class="f-p-links">
                        <li><a href="profile.html" class="active"><i class="icon-icons230"></i> Hồ Sơ</a></li>
                        <li><a href="my_properties.html"><i class="icon-icons215"></i> Bất Động Sản</a></li>
                        <li><a href="login.html"><i class="icon-icons215"></i> Đăng Bất Động Sản</a></li>
                        <li><a href="favorite_properties.html"><i class="icon-icons43"></i> Bất Động Sản Yêu Thích</a></li>
                        <li><a href="login.html"><i class="icon-lock-open3"></i> Đăng Xuất</a></li>
                    </ul>
                </div>
            </div>*@
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="profile-login">
                    <div class="login_detail">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Đăng Nhập</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đăng Ký</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content padding_b40 padding_t40">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <h2>Chào Mừng!</h2>
                                <div class="agent-p-form">
                                    <div class="row">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="col-md-12">
                                                
                                                @if (Model != null)
                                                {
                                                    <span style="color: red;">@Model.alert</span>
                                                }
                                                
                                                <div class="single-query">
                                                    <input type="text" name="Email" class="keyword-input" placeholder="tên tài khoản">
                                                </div>
                                                <div class="single-query">
                                                    <input type="password" name="Password" class="keyword-input" placeholder="mật khẩu">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="search-form-group white">
                                                    <div class="check-box-2"><i><input type="checkbox" name="RememberMe"></i></div>
                                                    
                                                    <span>Lưu tài khoản</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <a href="#" class="lost-pass">Quên Tài Khoản?</a>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div class="query-submit-button">
                                                    <button type="submit" class="btn_fill">Đăng nhập</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <h2>Sign Up for Free</h2>
                                <div class="agent-p-form">
                                    <div class="row">
                                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <div class="col-md-12">
                                                <div class="single-query">
                                                    <input type="text" class="keyword-input" placeholder="Tên tài khoản/Email " name="UserName" required>
                                                </div>
                                                <div class="single-query">
                                                    <input type="password" name="Mật khẩu/Password" class="keyword-input" placeholder="Password">
                                                </div>
                                                <div class="single-query">
                                                    <input type="password" name="Xác nhận mật khẩu/ConfirmPassword" class="keyword-input" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            if (val1)
                                            {
                                                if (User.IsInRole("SuperAdmin"))
                                                {

                                                    <div class="col-md-6">
                                                        <div class="search-form-group white">
                                                            <div class="check-box-2"><i><input class="check-box-2" type="checkbox" name="isAdmin"></i></div>
                                                            <span>Tài khoản Admin</span>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div class="query-submit-button">
                                                    <button type="submit" class="btn_fill">Đăng ký</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== #/LOGIN =====-->
