USE [master]
GO
/****** Object:  Database [Humiland2]    Script Date: 9/29/2017 11:58:23 AM ******/
CREATE DATABASE [Humiland2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Humiland2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Humiland2.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Humiland2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Humiland2_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Humiland2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Humiland2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[Activated] [bit] NOT NULL,
	[Gender] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[Deleted] [bit] NOT NULL,
	[IsSubcribe] [bit] NOT NULL,
	[promotionID] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Skype] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[CategoryParentId] [int] NULL,
	[Layout] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsStaticPage] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BlogCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[BlogImage] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[IsAvailable] [bit] NOT NULL,
	[IsHomePage] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[LastEditedTime] [datetime] NOT NULL,
	[PictureId] [int] NOT NULL,
	[BlogCategoryId] [int] NOT NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Colors]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[isImport] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InventoryLogs]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsImport] [bit] NOT NULL,
	[IsChangeLocation] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.InventoryLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Percent] [int] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[TypeNotifyId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[isRead] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[isUrgent] [bit] NOT NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Discount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[CustomerPhone] [nvarchar](max) NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[OrderTotal] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ShipmentFee] [float] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Deadline] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Binary] [nvarchar](max) NULL,
	[MimeType] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductAttributeMappings]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributeMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[IsRequired] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductAttributeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductAttributeMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ControlType] [nvarchar](max) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryParentId] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategoryMappings]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategoryMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategoryMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductPictureMappings]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPictureMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsMainPicture] [bit] NOT NULL,
	[ProductId] [int] NOT NULL,
	[PictureId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductPictureMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[CodeName] [nvarchar](max) NULL,
	[ColorName] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[OldPrice] [int] NOT NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[LastEditedTime] [datetime] NOT NULL,
	[VendorId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
	[IsHomePage] [bit] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[IsNew] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[DiscountOfVendor] [int] NOT NULL,
	[OrginalPrice] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Percent] [int] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Fee] [float] NOT NULL,
	[Deadline] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[isDelete] [bit] NOT NULL,
	[User_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Shipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Rename] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Yahoo] [nvarchar](max) NULL,
	[skype] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeNotifies]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeNotifies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[PriorityOrder] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TypeNotifies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Percent] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebsiteAttributes]    Script Date: 9/29/2017 11:58:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Tieu_De] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[ControlType] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[IsPublic] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.WebsiteAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Guest')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'SuperAdmin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd4e96bc5-d40b-4b20-a010-f988f0e5a2bd', N'1')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e6180ee1-06a7-4165-a284-4d9aacc89326', N'1')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1ca9962e-9512-4636-9a41-2ccbb073ccbc', N'2')
GO
SET IDENTITY_INSERT [dbo].[BlogCategories] ON 

GO
INSERT [dbo].[BlogCategories] ([Id], [Name], [Description], [Status], [Slug], [CategoryParentId], [Layout], [DisplayOrder], [IsStaticPage]) VALUES (1, N'None', N'Danh Mục Con Của None Sẽ Là Danh Mục Cấp 1', 1, N'none', NULL, 0, 9999, 0)
GO
INSERT [dbo].[BlogCategories] ([Id], [Name], [Description], [Status], [Slug], [CategoryParentId], [Layout], [DisplayOrder], [IsStaticPage]) VALUES (2, N'Trang Tĩnh', NULL, 1, N'trang-tinh', NULL, 0, 0, 1)
GO
INSERT [dbo].[BlogCategories] ([Id], [Name], [Description], [Status], [Slug], [CategoryParentId], [Layout], [DisplayOrder], [IsStaticPage]) VALUES (3, N'Tin tức', NULL, 1, N'tin-tuc', NULL, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[BlogCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

GO
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Pictures] ON 

GO
INSERT [dbo].[Pictures] ([Id], [Binary], [MimeType], [Url], [Description], [IsDeleted]) VALUES (1, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[Pictures] ([Id], [Binary], [MimeType], [Url], [Description], [IsDeleted]) VALUES (2, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[Pictures] ([Id], [Binary], [MimeType], [Url], [Description], [IsDeleted]) VALUES (3, NULL, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Pictures] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributeMappings] ON 

GO
INSERT [dbo].[ProductAttributeMappings] ([Id], [Value], [IsRequired], [DisplayOrder], [ProductId], [ProductAttributeId]) VALUES (15, N'Default', 0, 0, 3, 1)
GO
INSERT [dbo].[ProductAttributeMappings] ([Id], [Value], [IsRequired], [DisplayOrder], [ProductId], [ProductAttributeId]) VALUES (16, N'Default', 0, 0, 3, 3)
GO
INSERT [dbo].[ProductAttributeMappings] ([Id], [Value], [IsRequired], [DisplayOrder], [ProductId], [ProductAttributeId]) VALUES (17, N'Default', 0, 0, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductAttributeMappings] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] ON 

GO
INSERT [dbo].[ProductAttributes] ([Id], [Name], [Description], [ControlType], [Deleted]) VALUES (1, N'', N'Mã Nhà', N'Textbox', 0)
GO
INSERT [dbo].[ProductAttributes] ([Id], [Name], [Description], [ControlType], [Deleted]) VALUES (3, N'm2', N'Diện Tích', N'Number', 0)
GO
INSERT [dbo].[ProductAttributes] ([Id], [Name], [Description], [ControlType], [Deleted]) VALUES (4, N'', N'Phòng Ngủ', N'Number', 0)
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

GO
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CategoryParentId], [Slug], [Deleted]) VALUES (1, N'Quận 1', NULL, 0, N'quan-1', 0)
GO
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CategoryParentId], [Slug], [Deleted]) VALUES (3, N'Quận 2', NULL, 0, N'quan-2', 0)
GO
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CategoryParentId], [Slug], [Deleted]) VALUES (6, N'Quận 3', NULL, 0, N'quan-3', 0)
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategoryMappings] ON 

GO
INSERT [dbo].[ProductCategoryMappings] ([Id], [Value], [Note], [ProductCategoryId], [ProductId]) VALUES (2, NULL, NULL, 1, 2)
GO
INSERT [dbo].[ProductCategoryMappings] ([Id], [Value], [Note], [ProductCategoryId], [ProductId]) VALUES (3, NULL, NULL, 1, 3)
GO
INSERT [dbo].[ProductCategoryMappings] ([Id], [Value], [Note], [ProductCategoryId], [ProductId]) VALUES (4, NULL, NULL, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductCategoryMappings] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPictureMappings] ON 

GO
INSERT [dbo].[ProductPictureMappings] ([Id], [Title], [DisplayOrder], [IsMainPicture], [ProductId], [PictureId]) VALUES (3, NULL, 0, 1, 2, 3)
GO
INSERT [dbo].[ProductPictureMappings] ([Id], [Title], [DisplayOrder], [IsMainPicture], [ProductId], [PictureId]) VALUES (4, NULL, 0, 0, 2, 4)
GO
INSERT [dbo].[ProductPictureMappings] ([Id], [Title], [DisplayOrder], [IsMainPicture], [ProductId], [PictureId]) VALUES (5, NULL, 0, 1, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[ProductPictureMappings] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
INSERT [dbo].[Products] ([Id], [Name], [Description], [Slug], [CodeName], [ColorName], [Content], [Price], [OldPrice], [MetaKeywords], [MetaTitle], [MetaDescription], [DateCreated], [LastEditedTime], [VendorId], [ColorId], [PromotionId], [IsHomePage], [IsPublic], [IsNew], [Deleted], [Position], [DiscountOfVendor], [OrginalPrice]) VALUES (2, N'âsdasdasd', N'ádas', N'asdasdasd', N'đâsd', NULL, N'<p>&aacute;dasd</p>
', 1500000000, 0, NULL, NULL, NULL, CAST(N'2017-09-24 13:49:04.000' AS DateTime), CAST(N'2017-09-24 14:00:32.777' AS DateTime), 0, 0, 0, 0, 1, 1, 1, 0, 0, 0)
GO
INSERT [dbo].[Products] ([Id], [Name], [Description], [Slug], [CodeName], [ColorName], [Content], [Price], [OldPrice], [MetaKeywords], [MetaTitle], [MetaDescription], [DateCreated], [LastEditedTime], [VendorId], [ColorId], [PromotionId], [IsHomePage], [IsPublic], [IsNew], [Deleted], [Position], [DiscountOfVendor], [OrginalPrice]) VALUES (3, N'dfsdfdsf', NULL, N'dfsdfdsf', NULL, NULL, N'<p>sdf</p>
', 0, 0, NULL, NULL, NULL, CAST(N'2017-09-24 15:40:45.957' AS DateTime), CAST(N'2017-09-24 15:40:45.957' AS DateTime), 0, 0, 0, 0, 0, 0, 1, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

GO
INSERT [dbo].[Staffs] ([Id], [Name], [Phone], [Image], [Rename], [Description], [Type], [Deleted], [Yahoo], [skype]) VALUES (1, N'Trương Long', N'0922007855', N'/Content/humiland/images/t-s-1.jpg', N'Vice President', NULL, 1, 0, N'longt711', N'longt711')
GO
INSERT [dbo].[Staffs] ([Id], [Name], [Phone], [Image], [Rename], [Description], [Type], [Deleted], [Yahoo], [skype]) VALUES (2, N'Ngọc Linh', N'0922007855', N'/Content/humiland/images/t-s-2.jpg', N'President', NULL, 2, 0, N'longt711', N'longt711')
GO
INSERT [dbo].[Staffs] ([Id], [Name], [Phone], [Image], [Rename], [Description], [Type], [Deleted], [Yahoo], [skype]) VALUES (3, N'Truong Long', N'0922007855', N'/Content/humiland/images/t-s-3.jpg', N'Front End', NULL, 3, 0, N'longt711', N'longt711')
GO
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

GO
INSERT [dbo].[Vendors] ([Id], [Name], [Address], [Phone], [Description], [Content], [Type], [Note], [Percent], [IsDelete], [Slug], [MetaKeywords], [MetaTitle], [MetaDescription]) VALUES (1, N'ten', N'email', N'sodt', N'tinnhan', NULL, N'1 (mac dinh )', NULL, 0, 0, N'0', N'0', N'0', N'0')
GO
INSERT [dbo].[Vendors] ([Id], [Name], [Address], [Phone], [Description], [Content], [Type], [Note], [Percent], [IsDelete], [Slug], [MetaKeywords], [MetaTitle], [MetaDescription]) VALUES (2, N'ha', N'hankh6593@gmail.com', N'09090909', N'fdafa', NULL, N'1', NULL, 0, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Vendors] ([Id], [Name], [Address], [Phone], [Description], [Content], [Type], [Note], [Percent], [IsDelete], [Slug], [MetaKeywords], [MetaTitle], [MetaDescription]) VALUES (3, N'dfsaf', N'fdafa', N'09090909', N'fafafa', NULL, N'1', NULL, 0, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
SET IDENTITY_INSERT [dbo].[WebsiteAttributes] ON 

GO
INSERT [dbo].[WebsiteAttributes] ([Id], [Name], [Tieu_De], [Description], [Content], [Url], [Image], [ControlType], [Type], [Value], [IsPublic], [Deleted]) VALUES (2, N'Banner_1', N'Bán Nhà Bình Dương', NULL, N'3 tỷ (thương lượng)', N'https://www.facebook.com/lilotech2015', NULL, N'Image', N'Banner', N'/images/uploaded/partner/banner-1.jpg', 1, 0)
GO
INSERT [dbo].[WebsiteAttributes] ([Id], [Name], [Tieu_De], [Description], [Content], [Url], [Image], [ControlType], [Type], [Value], [IsPublic], [Deleted]) VALUES (3, N'Banner_2', N'Bán Nhà Bình Chánh', NULL, N'1 tỷ ', N'https://www.facebook.com/lilotech2015', NULL, N'Image', N'Banner', N'/images/uploaded/partner/banner-2.jpg', 1, 0)
GO
INSERT [dbo].[WebsiteAttributes] ([Id], [Name], [Tieu_De], [Description], [Content], [Url], [Image], [ControlType], [Type], [Value], [IsPublic], [Deleted]) VALUES (4, N'Banner_3', N'Bán Nhà Bình Điền', NULL, N'5 tỷ', N'https://www.facebook.com/lilotech2015', NULL, N'Image', N'Banner', N'/images/uploaded/partner/banner-3.jpg', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[WebsiteAttributes] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryParentId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryParentId] ON [dbo].[BlogCategories]
(
	[CategoryParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogCategoryId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_BlogCategoryId] ON [dbo].[Blogs]
(
	[BlogCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryId] ON [dbo].[InventoryLogs]
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationId] ON [dbo].[InventoryLogs]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeNotifyId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_TypeNotifyId] ON [dbo].[Notifications]
(
	[TypeNotifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributeId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttributeId] ON [dbo].[ProductAttributeMappings]
(
	[ProductAttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductAttributeMappings]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryId] ON [dbo].[ProductCategoryMappings]
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductCategoryMappings]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PictureId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_PictureId] ON [dbo].[ProductPictureMappings]
(
	[PictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductPictureMappings]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[Shipments]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 9/29/2017 11:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Shipments]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BlogCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogCategories_dbo.BlogCategories_CategoryParentId] FOREIGN KEY([CategoryParentId])
REFERENCES [dbo].[BlogCategories] ([Id])
GO
ALTER TABLE [dbo].[BlogCategories] CHECK CONSTRAINT [FK_dbo.BlogCategories_dbo.BlogCategories_CategoryParentId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.BlogCategories_BlogCategoryId] FOREIGN KEY([BlogCategoryId])
REFERENCES [dbo].[BlogCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.BlogCategories_BlogCategoryId]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InventoryLogs_dbo.Inventories_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_dbo.InventoryLogs_dbo.Inventories_InventoryId]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InventoryLogs_dbo.Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_dbo.InventoryLogs_dbo.Locations_LocationId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.TypeNotifies_TypeNotifyId] FOREIGN KEY([TypeNotifyId])
REFERENCES [dbo].[TypeNotifies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.TypeNotifies_TypeNotifyId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductAttributeMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductAttributeMappings_dbo.ProductAttributes_ProductAttributeId] FOREIGN KEY([ProductAttributeId])
REFERENCES [dbo].[ProductAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeMappings] CHECK CONSTRAINT [FK_dbo.ProductAttributeMappings_dbo.ProductAttributes_ProductAttributeId]
GO
ALTER TABLE [dbo].[ProductAttributeMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductAttributeMappings_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeMappings] CHECK CONSTRAINT [FK_dbo.ProductAttributeMappings_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductCategoryMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategoryMappings_dbo.ProductCategories_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategoryMappings] CHECK CONSTRAINT [FK_dbo.ProductCategoryMappings_dbo.ProductCategories_ProductCategoryId]
GO
ALTER TABLE [dbo].[ProductCategoryMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategoryMappings_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategoryMappings] CHECK CONSTRAINT [FK_dbo.ProductCategoryMappings_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductPictureMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductPictureMappings_dbo.Pictures_PictureId] FOREIGN KEY([PictureId])
REFERENCES [dbo].[Pictures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPictureMappings] CHECK CONSTRAINT [FK_dbo.ProductPictureMappings_dbo.Pictures_PictureId]
GO
ALTER TABLE [dbo].[ProductPictureMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductPictureMappings_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPictureMappings] CHECK CONSTRAINT [FK_dbo.ProductPictureMappings_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Orders_OrderId]
GO
USE [master]
GO
