@model IEnumerable<Outsourcing.Data.Models.WebsiteAttribute>
@if (Model.Any() && Model != null)
{
    foreach (var item in Model.Where(d => d.IsPublic))
    {
        <div class="item"><img src="@item.Value" alt="Our Partner"></div>
    }
}