@model IEnumerable<Outsourcing.Data.Models.Blog>
@if (Model.Any() && Model != null)
{
    foreach (var item in Model)
    {

    <li>
        <div class="col-md-4 col-sm-2 padding_none">
            <div class="blogimage_thumbnail">
                <img src="@item.BlogImage" alt="blog1 image">
            </div>
        </div>
        <div class="col-md-8 col-sm-10">
            <div class="blogimagedescription">
                <h3><a href="/tin-tuc/@item.Slug">@Outsourcing.Core.Common.slitString.TruncateAtWord(item.Title,30)</a></h3>
                <p class="detail">
                    <span>@item.Description</span>
                </p>
            </div>
        </div>
    </li>
    }

}