@model IEnumerable<Outsourcing.Data.Models.WebsiteAttribute>

<img class="mt-5 mb-20" alt="" src="/Content/humiland/images/Logo2.png">
<p class="pb-10">@Model.Where(p => p.Name.Equals("Address")).FirstOrDefault().Value</p>
<ul class="list-inline mt-5">
    <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">@Model.Where(p => p.Name.Equals("Số Điện Thoại")).FirstOrDefault().Value</a> </li>
    <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">@Model.Where(p => p.Name.Equals("Địa chỉ Email")).FirstOrDefault().Value</a> </li>
    <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="/">humiland.com</a> </li>
</ul>
