@model int?
    @if (Model == 1)
    {
        <div class="row">
            <div class="col-md-12">
                <ul class="f-p-links">
                    <li><a href="/thong-tin-ca-nhan" class="active"><i class="icon-icons230"></i> Ảnh đại diện</a></li>
                    <li><a href="/bat-dong-san"><i class="icon-icons215"></i> Bất Động Sản</a></li>
                    <li><a href="/dang-bat-dong-san"><i class="icon-icons215"></i> Đăng Tin BĐS</a></li>
                    <li><a href="/chu-so-huu"><i class="icon-icons215"></i> Chủ Sở Hữu</a></li>
                </ul>
            </div>
        </div>
    }
    else if (Model == 2)
    {
        <div class="row">
            <div class="col-md-12">
                <ul class="f-p-links">
                    <li><a href="/thong-tin-ca-nhan"><i class="icon-icons230"></i> Ảnh Đại Diện</a></li>
                    <li><a href="/bat-dong-san"  class="active"><i class="icon-icons215"></i> Bất Động Sản</a></li>
                    <li><a href="/dang-bat-dong-san"><i class="icon-icons215"></i> Đăng Tin BĐS</a></li>
                    <li><a href="/chu-so-huu"><i class="icon-icons215"></i> Chủ Sở Hữu</a></li>
                </ul>
            </div>
        </div>
    }
    else if (Model == 3)
    {
        <div class="row">
            <div class="col-md-12">
                <ul class="f-p-links">
                    <li><a href="/thong-tin-ca-nhan" ><i class="icon-icons230"></i> Ảnh Đại Diện</a></li>
                    <li><a href="/bat-dong-san"><i class="icon-icons215"></i> Bất Động Sản</a></li>
                    <li><a href="/dang-bat-dong-san" class="active"><i class="icon-icons215"></i> Đăng Bất Động Sản</a></li>
                    <li><a href="/chu-so-huu"><i class="icon-icons215"></i> Chủ Sở Hữu</a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <ul class="f-p-links">
                    <li><a href="/thong-tin-ca-nhan" ><i class="icon-icons230"></i> Ảnh Đại Diện</a></li>
                    <li><a href="/bat-dong-san"><i class="icon-icons215"></i> Bất Động Sản</a></li>
                    <li><a href="/dang-bat-dong-san"><i class="icon-icons215"></i> Đăng Bất Động Sản</a></li>
                    <li><a href="/chu-so-huu" class="active"><i class="icon-icons215"></i> Chủ Sở Hữu</a></li>
                </ul>
            </div>
        </div>
    }
